@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-slate-50;
  font-family: "Eczar", serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  word-break: break-word;
  color: theme("colors.navigation-golden");
}

a,
button,
img {
  transition: black 0.3s;

  &:hover {
    opacity: 0.75;
    cursor: pointer;
  }
}
