.transition-close {
  transform: translateX(-100px);
  opacity: 0;

  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.transition-open {
  transform: translateX(0);
  opacity: 100;

  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
